:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.streamsImg {
  max-width: 25%; 
  height:auto
}

.animeImg {
  max-width: 30%;
  height: auto;
}

.nav-link {
  display: inline-block;
  box-sizing: border-box;
  margin: .5rem;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  font-size: min(10vw, 15px);
}

.active{
  color: #138B83;
}