@import url('https://fonts.cdnfonts.com/css/lemon-tuesday');


:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
  --font-lemon-tuesday: 'Lemon Tuesday', sans-serif;
}

body {
  background-image: url('https://media.istockphoto.com/id/1348203336/vector/japanese-landscape-on-light-background.jpg?s=612x612&w=0&k=20&c=h2Ik78_diw5jmHDESDvjTJL8OpoIJoajv8-xd_G2D7Q=');
  background-size: cover;
}

.streamsImg {
  display: block;
  margin: 0 auto;
  max-width: 30%; 
  height:auto
}

.animeImg {
  display: block;
  margin: 0 auto;
  max-width: 30%;
  height: auto;
}

.nav-link {
  display: inline-block;
  box-sizing: border-box;
  margin: .5rem;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-family: var(--font-lemon-tuesday);
  
  color: #9505E3;
}

.active{
  color: #138B83;
}

.title {
  color: #7E1E80;
  font-family: var(--font-lemon-tuesday);
  text-align: center;
  font-size: 150px;
}

button {
  font-family: var(--font-lemon-tuesday);
  color: #3d393B;
  font-weight: bold;
  font-size: 20px;
  background-color: #00EAD9;
  border-radius: 8px;
  border: 2px solid #138D83;
}

button:hover {
  background-color: #b637fb;
  border: 2px solid #7E1E80;
}

.logout {
  float: right;
}

h2 {
  color: #7E1E80;
  font-family: var(--font-lemon-tuesday);
  font-size: 30px;
  text-align: center;
}

h3 {
  color: #7E1E80;
  font-family: var(--font-lemon-tuesday);
  font-size: 30px;
}

p {
  font-size: 18px;
  color: #9505E3;
}

.main {
  display: block;
  margin: 0 auto;
}

.addAnime {
  float: right;
  max-width: 30%;
  height: auto;
}

.newUser {
  float: right;
  max-width: 30%;
  height: auto;
}